body{
    background-image:url(download\ \(4\).jpg);
}
h1{
    color: skyblue;
    font-size:400%;
}
img{
    height:300px ;
    width: 500px;
    border: 5px solid black;
}
p{
    color: white;
}
