body{
    background-image:url(./download\ \(5\).jpg);
}
h3{
    color: skyblue;
    font-size:400%;
}
img{
    height:300px ;
    width: 500px;
    border: 5px solid black;
}
p{
    color: white;
}
