body{
    background-image:url(./istockphoto-1205482203-612x612.jpg);
}
h2{
    color: skyblue;
    font-size:400%;
}
img{
    height:300px ;
    width: 500px;
    border: 5px solid black;
}
p{
    color: white;
}
